@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Oswald:wght@300;400;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
  background-color: #05080F;
  color: #F5F5F5;
}